@import "reset";
@import "tiktok";

body {
  height: 100vh;
  padding: 100px;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;

    .box {
      width: 250px;
      height: 250px;
      border: 1px solid black;
    }
  }
}
