/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.tiktok {
  height: 100%;
}
.tiktok .bg {
  height: 100%;
  background-color: black;
  border-radius: 20%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bg-rotate 1.5s infinite linear;
}
.tiktok .bg .icon {
  width: 90%;
  height: 90%;
  background-image: url(assets/tiktok/icon.svg);
  background-size: contain;
  position: relative;
  animation: icon 1.5s infinite linear;
}

@keyframes bg-rotate {
  0% {
    transform: translateY(64%) scale(0.2) rotate(80deg);
  }
  2.5% {
    transform: translateY(56%) scale(0.3) rotate(70deg);
  }
  5% {
    transform: translateY(48%) scale(0.4) rotate(60deg);
  }
  7.5% {
    transform: translateY(40%) scale(0.5) rotate(50deg);
  }
  10% {
    transform: translateY(32%) scale(0.6) rotate(40deg);
  }
  12.5% {
    transform: translateY(24%) scale(0.7) rotate(30deg);
  }
  15% {
    transform: translateY(16%) scale(0.8) rotate(20deg);
  }
  17.5% {
    transform: translateY(8%) scale(0.9) rotate(10deg);
  }
  20% {
    transform: translateY(0%) scale(1) rotate(0deg);
  }
  22.5% {
    transform: translateY(-8%) scale(1.1) rotate(-10deg);
  }
  25% {
    transform: translateY(-16%) scale(1.2) rotate(-20deg);
  }
  27.5% {
    transform: translateY(-8%) scale(1.1) rotate(-10deg);
  }
  30% {
    transform: translateY(0%) scale(1) rotate(0deg);
  }
  40% {
    transform: translate(10px, 20px) scale(0.9) rotate(3deg);
  }
  50% {
    transform: translateY(0%) rotate(0deg);
  }
}
@keyframes icon {
  0% {
    top: 100%;
  }
  22.5% {
    top: 100%;
    transform: translateY(8%) scale(1.5, 0.5) rotate(10deg);
  }
  25% {
    transform: translateY(8%) rotate(20deg);
  }
  27.5% {
    transform: translateY(8%) rotate(10deg);
  }
  30% {
    top: -20%;
    transform: translateY(0%) scale(1.5, 0.5) rotate(0deg);
  }
  40% {
    transform: translate(-10px, -20px) scale(1.1) rotate(-3deg);
  }
  50% {
    top: 0;
    transform: rotate(0deg);
  }
}
.tiktok_v2 {
  height: 100%;
  position: relative;
}
.tiktok_v2 .bg,
.tiktok_v2 .shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.tiktok_v2 .bg {
  width: 50%;
  height: 50%;
  border-radius: 20%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  animation: bg-move 2s infinite linear;
}
.tiktok_v2 .bg .icon {
  width: 90%;
  height: 90%;
  background-image: url(assets/tiktok/icon.svg);
  background-size: contain;
}
.tiktok_v2 .shadow {
  width: 70%;
  height: 10%;
  border-radius: 50%;
  background-color: gray;
  animation: shadow-color 2s infinite linear;
}

@keyframes bg-move {
  15% {
    top: 4%;
  }
  20% {
    top: 7%;
  }
  25% {
    top: 11%;
  }
  30% {
    top: 16%;
  }
  35% {
    top: 22%;
  }
  40% {
    top: 29%;
  }
  45% {
    top: 36%;
    transform: translateX(-50%) scale(1, 1.1);
  }
  50% {
    top: 48%;
    transform: translateX(-50%) scale(1.1, 0.9);
  }
  55% {
    top: 36%;
    transform: translateX(-50%) scale(1, 1.1);
  }
  60% {
    top: 29%;
  }
  65% {
    top: 22%;
  }
  70% {
    top: 16%;
  }
  75% {
    top: 11%;
  }
  80% {
    top: 7%;
  }
  85% {
    top: 4%;
  }
  100% {
    top: 0;
  }
}
@keyframes shadow-color {
  0% {
    background-color: gainsboro;
  }
  30% {
    background-color: gainsboro;
  }
  50% {
    background-color: gray;
    width: 60%;
  }
  100% {
    background-color: gainsboro;
  }
}
body {
  height: 100vh;
  padding: 100px;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}
body .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}
body .container .box {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}/*# sourceMappingURL=styles.css.map */